<div class="modal fade" id="largeImageDisplay" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body" ng-swipe-left="onSwipeLeft()" ng-swipe-right="onSwipeRight()">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <img ng-src="{{pictures[current_picture].data}}" class="img-responsive">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="padding-top: 20px">
        <div style="text-align: center">
            <span class="btn btn-default btn-file" data-sharing-text="Sharing..." foto-file-select="">
                Take a Photo!
                <input id="fileinput" type="file" accept="image/*;capture=camera">
            </span>
            <div>
                <span  ng-repeat="data in pictures" class="btn" data-target="#largeImageDisplay" data-toggle="modal" ng-click="onImageClicked(data)">
                    <img ng-src="{{data.data}}" class="thumb">
                </span>
            </div>
        </div>
    </div>
</div>